/.metadata/
/Groupe11_Livrable3/main.aux
/Groupe11_Livrable3/main.bbl
/Groupe11_Livrable3/main.blg
/Groupe11_Livrable3/main.fdb_latexmk
/Groupe11_Livrable3/main.fls
/Groupe11_Livrable3/main.log
/Groupe11_Livrable3/main.out
/Groupe11_Livrable3/main.synctex.gz
/Groupe11_Livrable3/main.toc
